<%@ Page %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title>Web Services</title>
</head>
<body>
	<table width="100%" height="100%" align="center" valign="middle">
		<tr>
			<td align="center">
				<h2><a href="libraryService.asmx">LibraryService</a></h2>
				<h2><a href="libraryIdProviderService.asmx">LibraryIdProviderService</a></h2>
			</td>
		</tr>
	</table>
</body>
</html>